<nav>
    <div class="site-title">
        <a href="/"><h1>Rosegold</h1></a>
        <p>Readers Are Leaders</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/tutor">Tutoring</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>


<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
                <h1 class="brand"><a href="/">Rosegold</a></h1>
                <!-- navigation -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a href="/about">About</a></li>
                        <li><a href="/tutor">Tutoring</a></li>
                        <li><a href="/books">Books</a></li>
                        <li><a href="/blogs">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>