<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<br>
<h1>OOPS SORRY PAGE NOT FOUND</h1>
<%- include('./partials/footer.ejs') %>
</body>
</html>